@import 'tailwindcss';

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --primary: 158 64% 39%; /* Emerald 600 */
    --primary-foreground: 0 0% 98%;
    --accent: 43 74% 49%; /* Gold/Amber 500 */
    --accent-foreground: 24 9.8% 10%;
    --border: 240 5.9% 90%;
    --radius: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 240 10% 3.9%; /* Dark Zinc */
      --foreground: 0 0% 98%;
      --card: 240 10% 7.8%;
      --card-foreground: 0 0% 98%;
      --primary: 158 64% 39%;
      --primary-foreground: 0 0% 98%;
      --accent: 43 74% 49%;
      --accent-foreground: 24 9.8% 10%;
      --border: 240 3.7% 15.9%;
    }
  }
}

@layer base {
  * {
    @apply border-[hsl(var(--border))];
  }
  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] antialiased pb-20 md:pb-0; /* pb-20 untuk mobile nav */
  }
}
